<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Micajah.ErrorTrackerHelper2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Micajah_ErrorTracker_Service" value="http://dev1.atl2.micajah.net/MITS_ET_Prod/Service.asmx"/>
    <add key="ApplicationID" value="2"/>
  </appSettings>
  <applicationSettings>
    <Micajah.ErrorTrackerHelper2.Properties.Settings>
      <setting name="Micajah_ErrorTrackerHelper2_ErrorTracker_Service"
        serializeAs="String">
        <value>http://error.micajah.com/Service.asmx</value>
      </setting>
      <setting name="Micajah_ErrorTrackerHelper_Service" serializeAs="String">
        <value>http://error.micajah.com/Service.asmx</value>
      </setting>
    </Micajah.ErrorTrackerHelper2.Properties.Settings>
  </applicationSettings>
</configuration>